<div class="" data-ng-init="initDashboard()">

	<div class="row" style="padding-top: 3px; margin-top:3px;">
		<div class="col-xs-12" >
			<form class="form-inline"	id="search_form">
				<div class="form-group">
							<label for="selectedAirlineSel">Select an Airline</label>
							<select id="selectedAirlineSel" data-ng-model="selectedAirline" class="selectpicker form-control" title="Select an Airline" data-ng-change="airlineSelectionChange();">
								<option value="search">Search For Airlines</option>
								<option value="{{airline.name}}" data-ng-repeat="airline in airlines | orderBy:'name'">{{airline.name}}</option>
							</select>
				</div>

						<div class="form-group">
							<!-- <label >Start Date</label> -->
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-lg fa-calendar"></i></span>
										<datepicker date-format="yyyy-MM-dd" selector="form-control">
												<div class="input-group">
														<input class="form-control" data-ng-model="search.params.startDate" placeholder="Choose a start date" />
												</div>
										</datepicker>
								</div>
							</div>
						</div>

						<div class="form-group">
							<!-- <label class="control-label">End Date</label> -->
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-lg fa-calendar"></i></span>
										<datepicker date-format="yyyy-MM-dd" selector="form-control">
												<div class="input-group">
														<input class="form-control" data-ng-model="search.params.endDate" placeholder="Choose a end date" />
												</div>
										</datepicker>
								</div>
							</div>
						</div>

								<button class="btn btn-warning" data-ng-click="analyzeForAirline();">
								Analyze <span class="fa fa-bar-chart"></span>
								</button>

			</form>
		</div>
	</div>

	<div class="row" data-ng-show="selectedSegment.data && selectedSegment.data.tweets"
				style="padding-bottom: 5px;margin-bottom: 5px;padding-top: 15px;margin-top: 15px;">
			<div class="col-md-12">
					<center><h3>{{selectedAirline}} Twitter Insights</h3></center>
			</div>
	</div>

	<div class="row" data-ng-show="analysisResult && analysisResult.length > 0">

		<div class="col-md-6 insight-container">
			<h2><img src="public/images/trending-icon2.png" height="36px"></img> Tweets<small> mentions</small></h2>
			<div class="insight-box insight-box--positive">
				<div class="span-top">
						<div class="count" id="tweets-positive">{{dataPoints["POSITIVE"].count}}</div>
					</div>
					<div class="span-bottom">
					Positive Tweets
				</div>
			</div>
			<div class="insight-box insight-box--negative">
				<div class="span-top">
						<div class="count" id="tweets-negative">{{dataPoints["NEGATIVE"].count}}</div>
					</div>
					<div class="span-bottom">
					Negative Tweets
				</div>
			</div>
			<div class="insight-box insight-box--{{(dataPoints.POSITIVE.count >= dataPoints.NEGATIVE.count?'positive': 'negative')}}">
				<div class="span-top">
						<span class="small">Trend</span>
				</div>
				<div class="span-bottom trend">
					<i class="fa fa-thumbs-up" data-ng-show="dataPoints.POSITIVE.count >= dataPoints.NEGATIVE.count"> Positive</i>
					<i class="fa fa-thumbs-down" data-ng-show="dataPoints.NEGATIVE.count > dataPoints.POSITIVE.count"> Negative</i>
				</div>
			</div>
		</div> <!-- inner col -->

		<div class="col-sm-6">
			<h2><img src="public/images/twitter-icon.png" alt="" height="35px"></img> Total<small> Tweets : </small> {{analysisResult.length}}</h2>
			<div class="recent-tweets">
				<div class="scrollPanel">
							<a class="list-group-item" data-ng-repeat="tweet in analysisResult | orderBy:'postedTime':true" href="javascript:void(0);">
									<p class="list-group-item-heading {{tweet.message.polarity}}" >{{tweet.message.postedTime}}  {{tweet.message.body}}</p>
									<!-- <p>Posted Time: {{tweet.message.postedTime}}</p> -->
							</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row" data-ng-if="analysisResult && analysisResult.length > 0" style="padding-bottom: 15px;margin-bottom: 15px;padding-top: 15px;margin-top: 15px;">
		<div class="col-md-6">
				<h2> Allocation of Tweets </h2>
				<div data-ng-if="googleChart && googleChart.data.rows && googleChart.data.rows.length > 0">
						<!-- <div d3-bars bar-height="20" data="d3Data" bar-padding="5"></div> -->
					  <!-- <div google-chart chart="googleChart" style="height:400px; width:100%;"></div> -->
				</div>
				<div data-ng-if="d3PolarityChart.data && d3PolarityChart.data && d3PolarityChart.data.length > 0">
						<nvd3 options="d3PolarityChart.options" data="d3PolarityChart.data" config="d3PolarityChart.config"> </nvd3>
				</div>
		</div>
		<div class="col-md-6">
			<div class="list-group" >
					<h2> Datewise Graph </h2>
					<nvd3 options="d3MultiChart.options" data="d3MultiChart.data" config="d3MultiChart.config"> </nvd3>					
			</div>
		</div>

	</div>
</div>
<!-- /.container -->
